@import url(../vendor/normalize.css);
@import url(../vendor/inter.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/elements.css);
@import url(../blocks/footer.css);
@import url(../blocks/popup.css);

.body {
  display: block;
  margin: auto;
  max-width: 1280px;
}
:root {
  background-color: black;
}
